{% trans_default_domain 'NedwaveUserBundle' %}

{% extends "::base.html.twig" %}

{% block title %}NedwaveUserBundle:Registration:register{% endblock %}

{% block body %}
  <h2>{{ 'registration.register.title'|trans }}</h2>
  
  {% for message in app.session.flashbag.get('notice') %}
      <div class="flash-notice">
          {{ message|trans }}
      </div>
  {% endfor %}
    
  {{ form_start(form) }}
      {{ form_errors(form) }}
      
      {{ form_row(form.name) }}
      {{ form_row(form.email) }}
      {{ form_row(form.password.first) }}
      {{ form_row(form.password.second) }}
      
      <input type="submit" value="{{ 'registration.register.submit'|trans }}" />
  {{ form_end(form) }}
{% endblock body %}