{% trans_default_domain 'NedwaveUserBundle' %}

{% extends "::base.html.twig" %}

{% block title %}NedwaveUserBundle:Password:reset{% endblock %}

{% block body %}
  <h2>{{ 'password.reset.title'|trans }}</h2>
  
  {% for message in app.session.flashbag.get('notice') %}
      <div class="flash-notice">
          {{ message|trans }}
      </div>
  {% endfor %}
          
  {{ form_start(form) }}
      {{ form_errors(form) }}
      
      {{ form_row(form.password.first) }}
      {{ form_row(form.password.second) }}
      
      <input type="submit" value="{{ 'password.reset.submit'|trans }}" />
  {{ form_end(form) }}
{% endblock %}
